<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Bootstrap Css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <title>Assignment - 3</title>

</head>
<body>
    <input type="text" id="hiddenCompalintId" hidden>

    <!-- Navigation Starts Here -->
    <div class="commonNavbar">
        <nav class="navbar navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand commonLogo" href="/Complaints/Home">
                    <img src="~/img/usf-logo-png-2.png" class="commonImage" alt="Header Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="/Complaints/Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Complaints/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Complaints/Complaints">Complaints</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navigation Ends Here -->
    <!-- Toaster message div section start -->
    <div id="toastContainer" class="commonToaster toasterSucess">
    </div>
    <!-- Toaster message div section End -->
    <!-- Delete Modal Popup Starts Here -->
    <div class="modal fade" id="deleteRecord" tabindex="-1" aria-labelledby="deleteRecord" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Record</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want delete the record?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="deleteComplaints" onclick="DeleteComplaintById()" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Modal Popup Ends Here -->
    <!-- Body Sectiion starts Here -->
    <div class="mainPage my-5">

        <!-- Complaints Add/Edit Section Starts Here -->
        <section class="complaintsAddEdit">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <!-- Complaints Tables Starts Here -->
                        <div class="commonComplaintTable">
                            <div class="commonCardHeader mb-2">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <h4>Details</h4>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 text-end">
                                        <button id="btnAction" type="button" onclick="InsertComplaintsAddEdit()" class="btn-primary headerResponsiveBtn" id="complaints">
                                            <span id="spnnAction">Save</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="commonForm">
                                <div class="commonCard">


                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <h6 class="subCardTitle">Product</h6>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="product" class="form-label">Product<span class="requiredField">*</span></label>
                                                @* <input type="text" class="form-control inputDisabled" id="product"
                                                placeholder="Product" > *@
                                                <select id="productDropdown" class="form-select disabledFieldddl">
                                                    <option value="">Select an option</option>
                                                </select>

                                                <span id="errorProduct" class="validationMessage">
                                                    Please enter the
                                                    product
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4" id="OtherDiv">
                                            <div class="commonInput mb-3">
                                                <label for="product" class="form-label">Other</label>
                                                <input type="text" class="form-control inputDisabled" id="Otherproduct"
                                                       placeholder="Other Product">

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label class="form-label">Sub Product</label>
                                                <input type="text" class="form-control inputDisabled disabledField"
                                                       id="subProduct" placeholder="Sub Product">
                                                <span id="errorsubProduct" class="validationMessage">
                                                    Please enter the sub
                                                    product
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="issue" class="form-label">Issue<span class="requiredField">*</span></label>
                                                <input type="text" placeholder="Issue" class="form-control inputDisabled disabledField" id="issue">
                                                <span id="errorissue" class="validationMessage">
                                                    Please enter the
                                                    issue
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="subIssue" class="form-label">Sub Issue</label>
                                                <input type="text" class="form-control inputDisabled disabledField" id="subIssue"
                                                       placeholder="subIssue">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="timely" class="form-label">Timely</label>
                                                <input type="text" class="form-control inputDisabled disabledField" id="timely"
                                                       placeholder="Timely">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="complaintWhatHappened" class="form-label">
                                                    Complaint What
                                                    Happened
                                                </label>
                                                <input type="text" class="form-control inputDisabled disabledField"
                                                       id="complaintWhatHappened" placeholder="Complaint What Happened">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="dateReceived" class="form-label">Date Received<span class="requiredField">*</span></label>
                                                <input type="datetime-local" class="form-control inputDisabled disabledField"
                                                       id="dateReceived" placeholder="Date Received"
                                                       value="06/07/2012">
                                                <span id="errorDateReceived" class="validationMessage">
                                                    Please enter the
                                                    Date Received
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <h6 class="subCardTitle">Company</h6>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="company" class="form-label">Company<span class="requiredField">*</span></label>
                                                @* <input  type="text" class="form-control inputDisabled" id="company"
                                                placeholder="Company"> *@
                                                <select id="companyDropdown" class="form-select disabledFieldddl">
                                                    <option value="">Select an option</option>
                                                </select>
                                                <span id="errorcompany" class="validationMessage">
                                                    Please enter the
                                                    company
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4" id="OtherCompanyDiv">
                                            <div class="commonInput mb-3">
                                                <label for="product" class="form-label">Other</label>
                                                <input type="text" class="form-control inputDisabled" id="Othercompany"
                                                       placeholder="Other Company">

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="companyResponse" class="form-label">
                                                    Company
                                                    Response
                                                </label>
                                                <input type="text" class="form-control inputDisabled disabledField"
                                                       id="companyResponse" placeholder="Company Response">
                                                <span id="errorcompanyResponse" class="commonColour errorMsg">
                                                    Please enter
                                                    the company response
                                                </span>
                                            </div>
                                        </div>
                                        @* <div class="col-12 col-md-6 col-lg-4">
                                        <div class="commonInput mb-3">
                                        <label for="companyStatus" class="form-label">
                                        Company
                                        Status
                                        </label>
                                        <input type="text" class="form-control inputDisabled disabledField"
                                        id="companyStatus" placeholder="Company status">

                                        </div>
                                        </div> *@
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="dateSentToCompany" class="form-label">
                                                    Date Sent To
                                                    Company
                                                    <span class="requiredField">*</span>
                                                </label>
                                                <input type="datetime-local" class="form-control inputDisabled disabledField"
                                                       id="dateSentToCompany" placeholder="Date : Time"
                                                       value="6/7/2012">
                                                <span id="errordateSentToCompany" class="validationMessage">
                                                    Please enter
                                                    the date sent to company
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="consumerConsentProvided" class="form-label">
                                                    Consumer
                                                    Consent Provided
                                                </label>
                                                <input type="text" class="form-control inputDisabled disabledField"
                                                       id="consumerConsentProvided"
                                                       placeholder="Consumer Consent Provided">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="submittedVia" class="form-label">Submitted Via</label>
                                                <input type="text" class="form-control inputDisabled disabledField"
                                                       id="submittedVia" placeholder="Submitted Via">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-12">
                                            <h6 class="subCardTitle">Address</h6>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="state" class="form-label">State<span class="requiredField">*</span></label>
                                                <select class="form-select disabledFieldddl" id="state">
                                                    <option value="">Open this select menu</option>
                                                    <option value="1">UT</option>
                                                    <option value="2">NC</option>
                                                    <option value="3">WI</option>
                                                    <option value="4">AS</option>
                                                    <option value="5">MA</option>
                                                    <option value="6">MI</option>
                                                    <option value="7">TN</option>
                                                    <option value="8">FM</option>
                                                    <option value="9">NH</option>
                                                    <option value="10">AK</option>
                                                    <option value="11">OK</option>
                                                    <option value="12">KY</option>
                                                    <option value="13">CO</option>
                                                    <option value="14">NV</option>
                                                    <option value="15">SD</option>
                                                    <option value="16">VI</option>
                                                    <option value="17">UNITED STATES MINOR OUTLYING ISLANDS</option>
                                                    <option value="18">PA</option>
                                                    <option value="19">WV</option>
                                                    <option value="20">GA</option>
                                                    <option value="21">RI</option>
                                                    <option value="22">IN</option>
                                                    <option value="23">DC</option>
                                                    <option value="24">MD</option>
                                                    <option value="25">OR</option>
                                                    <option value="26">CT</option>
                                                    <option value="27">AR</option>
                                                    <option value="28">MN</option>
                                                    <option value="29">PW</option>
                                                    <option value="30">AL</option>
                                                    <option value="31">ID</option>
                                                    <option value="32">TX</option>
                                                    <option value="34">AA</option>
                                                    <option value="35">NM</option>
                                                    <option value="36">ND</option>
                                                    <option value="37">ME</option>
                                                    <option value="38">PR</option>
                                                    <option value="39">IL</option>
                                                    <option value="40">MO</option>
                                                    <option value="41">SC</option>
                                                    <option value="42">DE</option>
                                                    <option value="43">GU</option>
                                                    <option value="44">FL</option>
                                                    <option value="45">MP</option>
                                                    <option value="46">CA</option>
                                                    <option value="47">WY</option>
                                                    <option value="48">HI</option>
                                                    <option value="49">AE</option>
                                                    <option value="50">OH</option>
                                                    <option value="51">NE</option>
                                                    <option value="52">MH</option>
                                                    <option value="53">VT</option>
                                                    <option value="54">NY</option>
                                                    <option value="55">MS</option>
                                                    <option value="56">NJ</option>
                                                    <option value="57">IA</option>
                                                    <option value="58">KS</option>
                                                    <option value="59">LA</option>
                                                    <option value="60">WA</option>
                                                    <option value="61">AP</option>
                                                    <option value="62">AZ</option>
                                                    <option value="63">VA</option>
                                                    <option value="64">MT</option>
                                                </select>
                                                <span id="errorstate" class="validationMessage">
                                                    Please enter the
                                                    state
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="zipCode" class="form-label">Zip Code<span class="requiredField">*</span></label>
                                                <input type="text" class="form-control inputDisabled disabledField" id="zipCode"
                                                       placeholder="Zip Code">
                                                <span id="errorzipCode" class="validationMessage">
                                                    Please enter the zip
                                                    code
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="tags" class="form-label">Tags</label>
                                                <input type="text" class="form-control inputDisabled disabledField" id="tags"
                                                       placeholder="Tags">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mb-3">
                                                <label for="consumerDisputed" class="form-label">
                                                    Consumer
                                                    Disputed
                                                </label>
                                                <input type="text" class="form-control inputDisabled disabledField"
                                                       id="consumerDisputed" placeholder="Consumer Disputed">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4">
                                            <div class="commonInput mt-4">
                                                <input class="form-check-input disabledField" type="checkbox" value=""
                                                       id="hasNarrative" checked>
                                                <label class="form-check-label" for="hasNarrative">
                                                    Has Narrative
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-end deleteIcon">
                                            <!-- <button type="button" class="btn-primary headerResponsiveBtn" id="complaints">
                                                <a href="complaints.html">Edit</a>
                                            </button> -->
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-6 text-end deleteIcon">
                                            <button type="button" class="btn grayBtn" onclick="DeleteComplaint()" data-bs-toggle="modal" data-bs-target="#deleteRecord">
                                                <img src="~/img/delete.png" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Complaints Tables Ends Here -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Complaints Add/Edit Section Ends Here -->

    </div>
    <!-- Body Sectiion Ends Here -->
    <!-- Footer Section Starts Here -->
    <footer class="commonFooter">
        <div class="footerTop">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-6">
                    <div class="commonLogo">
                        <a href="index.html">
                            <img src="~/img/usf-logo-png-2.png" class="commonImage" alt="Footer Logo" />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-6">
                    <ul class="p-0 m-0 floatR footerUL">
                        <li class="foterListItem">
                            <a href="aboutUs.html">About Us</a>
                        </li>
                        <li class="foterListItem">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="foterListItem">
                            <a href="#">FAQ's</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <p class="text-center copyRight">&copy; 2023 Complaint Connect All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section Ends Here -->
    <!--JS links-->
    <!--Jquey-->
    <script type="text/javascript" src="~/js/jqery.min.js"></script>

    <!-- Bootstrap.min Js-->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- Custome Js-->
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">

    </script>

    <script>

        var buttonType = '';
        var productName = "";
        var companyName = "";
        $(document).ready(function () {
            $(".validationMessage").hide();

            $('#OtherDiv').hide();
            $('#OtherCompanyDiv').hide();
            var urlParams = window.location.href;

            var queryString = urlParams.split('?')[1];

            if (queryString != undefined) {
                var params = {};
                queryString.split('&').forEach(function (param) {
                    var keyValue = param.split('=');
                    params[keyValue[0]] = decodeURIComponent(keyValue[1]);
                });

                var product = params.product;
                productName = product;
                var company = params.company;
                companyName = company;
            }


            $('.errorMsg').hide();
            //get the type of action of page
            $('.deleteIcon').hide();
            var buttonName = localStorage.getItem("action");

            buttonType = buttonName;
            if (buttonName == 'DSave') {
                buttonName = "Save"
            }
            else if (buttonName == 'View') {
                buttonName = 'Edit'
                $('.disabledField').prop("disabled", true);
                $('.disabledFieldddl').prop("disabled", true)
                $('.deleteIcon').show();
            }
            else if (buttonName == 'Edit') {
                $('.disabledFieldddl').prop("disabled", true)
                buttonName = 'Update'
            }

            $('#spnnAction').html(buttonName);

            // Function to load dropdown options via AJAX
            function loadProductOptions() {
                $.ajax({
                    url: '/Complaints/GetDistinctProductsList',
                    method: 'GET',
                    async: true,
                    success: function (data) {
                        // Assuming the API returns an array of objects with 'text' properties
                        var dropdown = $("#productDropdown");

                        // Clear existing options
                        dropdown.empty();

                        // Add a default "Select an option" option
                        dropdown.append($("<option></option>").attr("value", "").text("Select an option"));

                        // Iterate through the API response and add options to the dropdown
                        $.each(data, function (index, item) {
                            dropdown.append($("<option></option>").attr("value", item.productName).text(item.productName));
                        });

                    },
                    error: function () {
                        console.log("Error loading dropdown options");
                    }
                });
            }

            // Load the dropdown options on page load
            loadProductOptions();

            // Handle change event for the dynamic dropdown
            $("#productDropdown").change(function () {
                var selectedOption = $(this).val();
                if (selectedOption) {
                    if (selectedOption == "Other financial service") {
                        $('#OtherDiv').show();
                    }
                    else {
                        $('#OtherDiv').hide();
                    }

                    loadCompanyOptions(selectedOption);
                }
            });


            getEditDetailsById();
        });

        function dateConvertion(date) {
            // Create a JavaScript Date object with the provided date and time
            var dateTime = new Date(date);

            // Format the date and time as required for the input element
            var formattedDateTime = dateTime.toISOString().slice(0, 16);

            // Set the value of the input element
            return (formattedDateTime);
        }

        function getEditDetailsById() {

            var urlParams = window.location.href;

            var queryString = urlParams.split('?')[1];


            var params = {};
            queryString.split('&').forEach(function (param) {
                var keyValue = param.split('=');
                params[keyValue[0]] = decodeURIComponent(keyValue[1]);
            });

            var compalintId = params.complaintId;


            var type = params.type;


            if (type == "View") {
                $.ajax({
                    type: 'Get',
                    url: '/Complaints/GetViewComplaintById?complaintId=' + compalintId + '',
                    async: true,
                    success: function (data) {
                        if (data != null) {
                            loadCompanyOptions(data.product);
                            $('#state option').map(function () {
                                if ($(this).text() == data.state) return this;
                            }).attr('selected', 'selected');
                            //$('#state').val(data.state);


                            //$('#companyDropdown').val((data.companyId) != null ? (data.companyId) : "");
                            $('#zipCode').val(data.zip_code);
                            $('#dateReceived').val(dateConvertion(data.date_received));
                            $('#dateSentToCompany').val(dateConvertion(data.date_sent_to_company));
                            $('#complaintWhatHappened').val(data.complaint_what_happened);
                            $('#tags').val(data.tags);
                            $('#hasNarrative').prop('checked', data.has_narrative);
                            $('#consumerDisputed').val(data.consumer_disputed);
                            $('#subProduct').val(data.sub_product);
                            $('#consumerConsentProvided').val(data.consumer_consent_provided);
                            $('#timely').val(data.timely);
                            $('#subIssue').val(data.sub_issue);
                            $('#issue').val(data.issue);
                            $('#companyResponse').val(data.company_response != null ? data.company_response : "");
                            $('#submittedVia').val(data.submitted_via != null ? data.submitted_via : "");
                            $('#hiddenCompalintId').val(data.complaint_id);
                            setTimeout(function () {
                                $('#productDropdown').val(data.product != null ? data.product : "");
                            }, 1000);



                        }
                        else {
                            $.ajax({
                                type: 'Get',
                                url: '/Complaints/GetComplaintById?complaintId=' + compalintId + '',
                                async: true,
                                success: function (data) {
                                    if (data != null) {
                                        loadCompanyOptions(data.productName, (data.companyId) != null ? (data.companyId) : "");
                                        $('#state').val(data.stateId);

                                        $('#companyDropdown').val((data.companyId) != null ? (data.companyId) : "");
                                        $('#zipCode').val(data.zipCode);
                                        $('#dateReceived').val(data.dateReceived);
                                        $('#dateSentToCompany').val(data.dateSentToCompany);
                                        $('#complaintWhatHappened').val(data.complaintWhatHappened);
                                        $('#tags').val(data.tags);
                                        $('#hasNarrative').prop('checked', data.hasNarrative);
                                        $('#consumerDisputed').val(data.consumerDisputed);
                                        $('#subProduct').val(data.subProduct);
                                        $('#consumerConsentProvided').val(data.consumerConsent);
                                        $('#timely').val(data.timely);
                                        $('#subIssue').val(data.subIssue);
                                        $('#issue').val(data.issue);
                                        $('#companyResponse').val(data.companyResponse != null ? data.companyResponse : "");
                                        $('#submittedVia').val(data.submittedvia != null ? data.submittedvia : "");
                                        $('#hiddenCompalintId').val(data.complaintId);
                                        setTimeout(function () {
                                            $('#productDropdown').val(data.productName != null ? data.productName : "");
                                        }, 1000);
                                    }

                                },
                                failure: function (response) {

                                    alert('Failed.');
                                },
                                error: function (error) {
                                    // Handle any errors that occur during the request
                                    console.log(error);
                                }
                            });
                        }

                    },
                    failure: function (response) {

                        alert('Failed.');
                    },
                    error: function (error) {
                        // Handle any errors that occur during the request
                        console.log(error);
                    }
                });

            }
            else {
                $.ajax({
                    type: 'Get',
                    url: '/Complaints/GetComplaintById?complaintId=' + compalintId + '',
                    async: true,
                    success: function (data) {
                        if (data != null) {
                            loadCompanyOptions(data.productName, (data.companyId) != null ? (data.companyId) : "");
                            $('#state').val(data.stateId);

                            $('#companyDropdown').val((data.companyId) != null ? (data.companyId) : "");
                            $('#zipCode').val(data.zipCode);
                            $('#dateReceived').val(data.dateReceived);
                            $('#dateSentToCompany').val(data.dateSentToCompany);
                            $('#complaintWhatHappened').val(data.complaintWhatHappened);
                            $('#tags').val(data.tags);
                            $('#hasNarrative').prop('checked', data.hasNarrative);
                            $('#consumerDisputed').val(data.consumerDisputed);
                            $('#subProduct').val(data.subProduct);
                            $('#consumerConsentProvided').val(data.consumerConsent);
                            $('#timely').val(data.timely);
                            $('#subIssue').val(data.subIssue);
                            $('#issue').val(data.issue);
                            $('#companyResponse').val(data.companyResponse != null ? data.companyResponse : "");
                            $('#submittedVia').val(data.submittedvia != null ? data.submittedvia : "");
                            $('#hiddenCompalintId').val(data.complaintId);
                            setTimeout(function () {
                                $('#productDropdown').val(data.productName != null ? data.productName : "");
                            }, 1000);
                        }

                    },
                    failure: function (response) {

                        alert('Failed.');
                    },
                    error: function (error) {
                        // Handle any errors that occur during the request
                        console.log(error);
                    }
                });
            }

        }
        $("#companyDropdown").change(function () {
            var selectedOption = $(this).val();
            if (selectedOption) {
                if (selectedOption == "0") {
                    $('#OtherCompanyDiv').show();
                }
                else {
                    $('#OtherCompanyDiv').hide();
                }

            }
        });

        // Function to load dropdown options via AJAX
        async function loadCompanyOptions(productName, selectedCompanyId) {
            await $.ajax({
                url: '/Complaints/GetDistinctCompaniesListForProduct?productName=' + productName + '',
                method: 'GET',
                async: false,
                success: function (data) {
                    // Assuming the API returns an array of objects with 'text' properties
                    var dropdown = $("#companyDropdown");

                    // Clear existing options
                    dropdown.empty();

                    // Add a default "Select an option" option
                    dropdown.append($("<option></option>").attr("value", "").text("Select an option"));

                    // Iterate through the API response and add options to the dropdown
                    $.each(data, function (index, item) {
                        dropdown.append($("<option></option>").attr("value", item.companyId).text(item.companyName));
                    });
                    dropdown.append($("<option></option>").attr("value", "0").text("Other"));
                    if (selectedCompanyId != null && selectedCompanyId != 0 && selectedCompanyId != undefined) {
                        $('#companyDropdown').val((selectedCompanyId) != null ? (selectedCompanyId) : "");
                    }
                    else {
                        dropdown.find('option:contains("' + companyName + '")').prop('selected', true);
                    }



                },
                error: function () {
                    console.log("Error loading dropdown options");
                }
            });
        }

        function ValidateConsumerData() {
            var count = 0;
            if ($("#productDropdown").val() == "") {
                $("#errorProduct").show();
                count++;

            }
            else {
                $("#errorProduct").hide();
            }
            if ($("#issue").val() == "") {
                $("#errorissue").show();
                count++;

            }
            else {
                $("#errorissue").hide();
            }
            if ($("#dateReceived").val() == "") {
                $("#errorDateReceived").show();
                count++;

            }
            else {
                $("#errorDateReceived").hide();
            }
            if ($("#companyDropdown").val() == "") {
                $("#errorcompany").show();
                count++;

            }
            else {
                $("#errorcompany").hide();
            }
            if ($("#dateSentToCompany").val() == "") {
                $("#errordateSentToCompany").show();
                count++;

            }
            else {
                $("#errordateSentToCompany").hide();
            }
            if ($('#state').val() == "" || $('#state').val() == null) {
                $("#errorstate").show();
                count++;

            }
            else {
                $("#errorstate").hide();
            }
            if ($("#zipCode").val() == "") {
                $("#errorzipCode").show();
                count++;

            }
            else {
                $("#errorzipCode").hide();
            }
            return count;
        }
        function InsertComplaintsAddEdit() {


            var buttonName = localStorage.getItem("action");
            if (buttonName == "View") {
                localStorage.setItem("action", "Update");
                $('.disabledField').prop("disabled", false);
                $('.disabledFieldddl').prop("disabled", true);
                //window.location.reload();
                var field = localStorage.getItem("action");
                $('#spnnAction').html(field);
            }
            else if (buttonName == "Update" || buttonName == "DSave" || buttonName == "Edit") {
                if (buttonName == "DSave") {
                    $('.disabledFieldddl').prop("disabled", false)
                }

                var validate = ValidateConsumerData();
                if (validate == 0) {


                    //Other financial service
                    var productValue = "";
                    var companyValue = "";
                    if ($('#productDropdown').val() == 'Other financial service') {
                        productValue = $('#Otherproduct').val();
                    }
                    else {
                        productValue = $('#productDropdown').val();
                    }

                    if ($('#companyDropdown').val() == '0') {
                        companyValue = $('#Othercompany').val();
                    }
                    else {
                        companyValue = $('#companyDropdown').val();
                    }

                    var product = {
                        ProductName: productValue
                    }
                    var company = {
                        CompanyName: companyValue,
                        CompanyId: $('#companyDropdown').val()
                    }
                    var states = {
                        StateName: $('#state').val()
                    }


                    var complaintsData = {
                        ZipCode: $('#zipCode').val(),
                        DateReceived: $('#dateReceived').val(),
                        DateSentToCompany: $('#dateSentToCompany').val(),
                        ComplaintWhatHappened: $('#complaintWhatHappened').val(),
                        Tags: $('#tags').val(),
                        HasNarrative: $('#hasNarrative').prop('checked') == true ? 1 : 0,
                        ConsumerDisputed: $('#consumerDisputed').val(),
                        SubProduct: $('#subProduct').val(),
                        ConsumerConsent: $('#consumerConsentProvided').val(),
                        Timely: $('#timely').val(),
                        SubIssue: $('#subIssue').val(),
                        Issue: $('#issue').val(),
                        CompanyResponse: $('#companyResponse').val(),
                        Submittedvia: $('#submittedVia').val(),
                        ComplaintId: $('#hiddenCompalintId').val() != "" ? parseInt($('#hiddenCompalintId').val()) : 0
                    }

                    var compalintsModel1 = {
                        Product: product,
                        Company: company,
                        State: states,
                        Complaint: complaintsData
                    };

                    $.ajax({
                        type: 'POST',
                        // url: '/Complaints/InsertComplaintDetailsAddEdit',
                        url: '@Url.Action("InsertComplaintDetailsAddEdit", "Complaints")',
                        async: true,
                        data: { ModelObject: JSON.stringify({ "ModelObject": compalintsModel1 }) },
                        success: function (data) {
                            if (data == "Compalint Update Successfully.") {
                                showToast(data);
                                // Navigate to another HTML page after a delay (e.g., 1 seconds)
                                setTimeout(function () {
                                    window.location.href = '/Complaints/ComplaintDetails?product=' + productName + '&company=' + companyName + ''; // Replace 'another-page.html' with your target page
                                }, 1000);
                            }
                            else {
                                showToast(data);
                                // Navigate to another HTML page after a delay (e.g., 1 seconds)
                                setTimeout(function () {
                                    window.location.href = '/Complaints/Complaints'
                                }, 1000);
                            }


                        },
                        failure: function (response) {

                            alert('Failed.');
                        },
                        error: function (error) {
                            // Handle any errors that occur during the request
                            console.log(error);
                        }
                    });
                }

            }


        }

        var complaintIdToDelete;
        function DeleteComplaint() {
            var urlParams = window.location.href;
            var compalintId = urlParams.split('=')[1];
            complaintIdToDelete = compalintId;
        }

        function DeleteComplaintById() {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteComplaintById", "Complaints")',
                async: true,
                data: { complaintId: complaintIdToDelete },
                success: function (response) {

                    showToast("Deleted successfully");
                    // Navigate to another HTML page after a delay (e.g., 2 seconds)
                    setTimeout(function () {
                        window.location.href = '/Complaints/ComplaintDetails?product=' + productName + '&company=' + companyName + ''; // Replace 'another-page.html' with your target page
                    }, 1000);
                },
                failure: function (response) {

                    showToast("Failed to Delete, Please try again later.");
                },
                error: function (error) {
                    // Handle any errors that occur during the request
                    console.log(error);
                }
            });
        }

        // Function to show a Bootstrap toast
        function showToast(message) {
            var toastContainer = document.getElementById('toastContainer');
            var toast = document.createElement('div');
            toast.className = 'toast';
            toast.innerHTML = '<div class="toast-header">Success</div><div class="toast-body">' + message + '</div>';
            toastContainer.appendChild(toast);

            var bsToast = new bootstrap.Toast(toast);
            bsToast.show();
            // Automatically close the toast after 1 seconds (1000 milliseconds)
            setTimeout(function () {
                bsToast.hide();
            }, 1000);
        }



    </script>

</body>

</html>
